// LecturePage

article {
   h1 {
      font-size: $l-size;
      margin: 1.5rem 0;
      height: auto;
   }
   .row{
      margin-top: 1rem;
      display: flex;
      // min-height: 200px;
      height: auto;
      flex-wrap: wrap ;
      a {
         margin: 0.5rem;
         margin-right: 2rem;
         text-decoration: none;
         display: inline-block;
         max-width: 80px;
         text-align: center;
         img {
            height: 30px;
         }
         p {
            margin: .5rem 0;
            // max-width: 100px;
            overflow: hidden;
         }
      }
   }
   .lecture-body {
      color: rgb(43, 43, 43);
      padding: 1rem 0;
      font-size: 1.1rem;
      line-height: 2rem;
   }
   .download {
      color: rgb(99, 99, 99);
   }
}